.dropdown-menu a:hover  {
background-color: rgb(187, 187, 187);
}

.dropdown-menu button:hover  {
  background-color: rgb(187, 187, 187);
  }

.bi-people {
  font-size: large;
}

#navbarDropdown {
  margin-left: -90px;
}

.navbar {
  width: 100%;
}

.dropdown-list{
  margin-left: 15px;
}