/* .active a:hover {
  background-color: rgb(131, 131, 131);
  border-radius: 5px;
  color: white;
} */

.sidenav-menu-heading {
  color: rgb(155, 155, 155);
  margin-top: 20px;
}

.icon {
  margin-right: 10px;
  font-size: 13px;
  color: rgb(157, 157, 157);
}

.sidebar li a:hover {
  background-color: rgb(131, 131, 131);
  cursor: pointer;
}

